.footerContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
     color: white;
     background-color: teal;
     padding: 5%;
}
.section h2{
    margin-bottom: 15px;
    font-size: 35px;
}
.section h3{
    margin-bottom: 15px;
    font-size: 25px;
}
.section p:hover{
    cursor: pointer;
}
.section{
    margin: 10px;
}
.one{
    width: 60%;
}
@media screen and (max-width: 1024px){
    .footerContainer{
        flex-wrap: wrap;
        align-items: flex-start;
    }
}